@font-face {
   font-family: 'ALSAhner-Medium';
   font-display: swap;
   src: url('ALSAhner-Medium/font.ttf');
}
@font-face {
   font-family: 'ALSSirius-Regular';
   font-display: swap;
   src: url('ALSSirius-Regular/font.ttf');
}
