@font-face {
   font-family: 'ALSSirius-Regular';
   font-display: swap;
   src: url('file:///G:/USERS/methodist/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-25_113501/fonts/ALSSirius-Regular/font.ttf');
}
