#game {
	position: relative;
	display: block;
    width: 640px;
    height: 480px;
	margin-bottom: 20px;
    background-color: blue;
}

body {
  margin: 10px;
  /* prettier-ignore */
  background-image: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5,  #ee7752,#e73c7e);
  background-size: 500% 100%;
  animation: gradient 20s linear infinite;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}