* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  overflow-x: hidden;
  overflow-y: hidden;
}

.comment-text{
  font-size: 2em;
  text-align: center;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    gap: 0;
}


.block {
  position: relative;
  width: 50vw;
  height: 50vh;
  background-color: hsl(0, 0%, 13%);

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  canvas {
    width: 100%;
    height: 100%;
    cursor: crosshair;
  }

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 20%;
  }

  &:hover {
    video {
      opacity: 10%;
    }
  }
}

.block1 {
  position: relative;
  width: 50vw;
  height: 50vh;
  background-color: hsl(0, 0%, 13%);

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  canvas {
    width: 100%;
    height: 100%;
    /* cursor: crosshair; */
  }

  video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 20%;
  }

  &:hover {
    video {
      opacity: 90%;
    }
  }
}

/* Анимированные линии */

        .path_line {
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-name: line;
        }

        body {
            /* background: #832727; */
            height: 100%;
            width: 100%;;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @keyframes line {
            100% {
                stroke-dashoffset: 0;
            }
        }

/* Для анимированных линий */

@media (min-aspect-ratio: 16/9) {
  #myvid {
    height: 300%;
    top: -100%;
  }
}

/* рисование */

.clearButtonWrapper {
  /* position: fixed; */
  position: absolute;
  bottom: 0;
  left: 20px;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  /* width: 10vw; */
  height: 54px;
  padding-bottom: 10px;
}

#clearBtn {
  cursor: pointer;
  height: 44px;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: #ef4444;
  color: white;
  transition: all 0.3s ease;
}

#clearBtn:hover {
  background: #dc2626;
  transform: scale(1.05);
}

/* рисование */

@media (max-width: 1200px) {

  html, body {
  overflow-y: auto;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    gap: 0px;
  }

  .block {
    position: relative;
    width: 100vw;
    height: 50vh;
  }

  .block1 {
    position: relative;
    width: 100vw;
    height: 50vh;
  }
}
