        /* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #0c2c68;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        } */

        /* .header {
            text-align: center;
            margin: 50px 0;
        }

        .header h1 {
            font-size: 3rem;
            color: #ffffff;
        } */

        .cards2-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            /* gap: 40px; */
            flex-wrap: wrap;
            margin-top: 50px;
        }

        .card2 {
            width: 550px;
            height: 300px;
            perspective: 1000px;
            cursor: pointer;
            margin: 20px;
            /* border-radius: 15px; */
        }

        .card2-inner {
            position: relative;
            width: 550px;
            height: 300px;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .card2.flipped .card2-inner {
            transform: rotateY(180deg);
        }

        .card2-front, .card2-back {
            position: absolute;
            backface-visibility: hidden;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* padding: 20px; */
            width: 550px;
            height: 300px;        
        }

        .card2-front {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: white;
        }

        .card2-back {
            background: rgb(182, 228, 255);
            padding: 15px;
            color: #333;
            transform: rotateY(180deg);
            text-align: center;
        }

        .card2-image {
            object-fit: cover;
            border-radius: 1rem !important;
            width: 550px;
            height: 300px;
        }

        .card2-description {
            font-size: 1rem;
            line-height: 1.6;
            text-align: center;
        }

        .vip {
            padding-top: 4rem;
            padding-bottom: 0rem;
            background-image: url(assets/images/f2-3-2000x1250.png);
        }

        .vip h3 {
            color: white;
        }

